{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="{% url 'notes:notes_main' %}">My Course Notes</a></li>
            <li><a href="{% url 'todo:todo_overview' %}">My ToDo List</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <div>
        <h1>{% block header %}{% endblock %}</h1>
        {% if messages %}
        {% for message in messages %}
        <div>
            {{ message }}
        </div>
        {%endfor%}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        <p>Copyright &copy; iwona.com</p>
    </footer>
</body>

</html>