{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="{% url 'notes:notes_main' %}">My Course Notes</a></li>
            <li><a href="{% url 'todo:todo_overview' %}">My ToDo List</a></li>
        </ul>
    </nav>
    
    <div>
        <h1>{% block header %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        <p>Copyright &copy; iwona.com</p>
    </footer>
</body>

</html>