{% extends "notes/base.html" %}

{% load sections}

{% block content %}

{% if section %}
<h2>My note number {{ section.id }}</h2>

<h4>Section: <a href= "{% url 'notes:notes_main' %}">{{ section.title }}</a></h4>

<p>{{ section.note|safe }}</p>

{% else %}
The section could not be found.
{% endif %}

{% if previous_section %}
<a href="{% url 'notes:section_id_view' previous_section.id %}">Previous</a>

{% endif %}
{% if next_section %}
<a href="{% url 'notes:section_id_view' next_section.id %}">Next</a>
{% endif %}
{% endblock %}